[package]
name = "ori-lsp"
version.workspace = true
edition.workspace = true
license.workspace = true
description = "Language Server Protocol implementation for the Ori programming language"

[dependencies]
oric = { path = "../../compiler/oric" }
tower-lsp = "0.20"
tokio = { version = "1", features = ["full"] }
dashmap = "5"

[lints]
workspace = true

[[bin]]
name = "ori-lsp"
path = "src/main.rs"
