[package]
name = "ori_llvm"
version.workspace = true
edition.workspace = true
description = "LLVM backend for the Ori compiler"

[dependencies]
# LLVM bindings
inkwell = { version = "0.8", features = ["llvm17-0-force-dynamic"] }

# Ori crates
ori_ir.workspace = true
ori_types.workspace = true

[dev-dependencies]
pretty_assertions.workspace = true

[lints]
workspace = true
